$header-content-color: #424413;
$article-lightGreenBox-color: #08a033;
$article-blueBox-color: #18a1ab;
$article-redBox-color: #a51b35;
$article-greenBox-color: #21a110;
$article-mustardBox-color: #afb608;

$text-color: #fff
